<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>姓名案例_插值语法实现</title>
        <!-- 引入Vue -->
        <script type="text/javascript" src="../js/vue.js"></script>
    </head>
    <body>
        <!-- 准备好一个容器 -->
        <div id="root">
            姓：<input type="text" v-model="firstname"> <br><br>
            名：<input type="text" v-model="lastname"><br><br>
            姓名：<span>{{fullName}}</span><br>
            <!-- 姓名：<span>{{fullName}}</span><br>
            姓名：<span>{{fullName}}</span><br>
            姓名：<span>{{fullName}}</span> -->
            <!-- 
                无需写成fullName.get(),使用计算属性时，自己会调用get
             -->

        </div>
    </body>
    
    <script type="text/javascript">
        Vue.config.productionTip=false//阻止vue在启动时生成生产提示。

        const vm = new Vue({
            el:'#root',
            data:{
                firstname:'张',
                lastname:'三'
            },
            computed:{
                
                   //完整写法
                   //fullName:{
                    // get(){
                    //     return this.firstname+'-'+this.lastname/* 此处的this为vm */
                    // },

                    // set(value){
                    //     console.log('set',value)
                    //     const arr = value.split('-')
                    //     this.firstname = arr[0]
                    //     this.lastname = arr[1]
                    // }

                    //简写
                    fullName(){
                        console.log('get被调用了')
                        return this.firstname+'-'+this.lastname
                    }
                }
            }
        )
    </script>

</html>

<!-- 
    计算属性
        1. 定义：要用的属性不存在，要通过已有属性计算得来
        2. 原理：底层借助了Object.defineproperty方法提供的getter和setter
        3. get函数什么时候执行
            （1）初次读取时会执行一次
            （2）当依赖的数据发生改变时会被再次调用
        4. 优势：与methods相比，内部有缓存机制，效率更高，调试方便
        5. 备注
            1. 计算属性最终会出现在vm上，直接读取使用即可
            2. 如果计算属性要被修改，那必须写set函数去响应修改，且set中要引起计算时依赖的数据发生变化
 -->